@import "variables";
@import "materialize/materialize";

html, body {
  background: #ededed;
}

/* Materialize Override
 * This fixes the issue where the materialize <select> appears behind buttons
 * and other elements that it shouldn't.
 */
.dropdown-content {
  z-index: 4;
}

/* Materialize Override
 * Need to add list-style back for card-panel.
 */
.card-panel ul {
  list-style-type: square;
  list-style-position: inside;

  li {
    list-style-type: inherit;
  }
}

/* Custom Collection Styling
 * Overriding some Materialize collection styling for the issue-activity.
 */
.collection.issue-activity {
  border: 0;

  .collection-item {
    margin-bottom: 20px;
    min-height: 63px;
    height: auto;
    border: 0;

    &.avatar i.circle {
      width: 35px;
      height: 35px;
      line-height: 35px;
    }
  }

  .activity-status, .activity-priority, .activity-assignment {
    background: transparent;
  }
}

footer.page-footer .footer-copyright {
  background: transparent; /* Overriding Materialize value */
}
