@import "variables";
@import "materialize/materialize";

html, body {
  background: #ededed;
}

/* Materialize Override
 * This fixes the issue where the materialize <select> appears behind buttons
 * and other elements that it shouldn't.
 */
.dropdown-content {
  z-index: 4;
}

.card-panel ul {
  list-style-type: square;
  list-style-position: inside;

  li {
    list-style-type: inherit;
  }
}

.collection .collection-item.avatar {
  min-height: 63px;
  height: auto;
}

footer.page-footer .footer-copyright {
  background: transparent; /* Overriding Materialize value */
}
